<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% include google_analytics.html %}    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Mathjax Support -->
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Blog</a></li>
<li><a href="https://scholar.google.com/citations?user=AsqcJtAAAAAJ&hl=en">Google Scholar</a></li>
<li><a href="https://twitter.com/mo_danesh/">Twitter</a></li>
<li><a href="https://github.com/modanesh/">GitHub</a></li>
<li><a href="https://www.linkedin.com/in/mohamad-h-danesh-a766b0185/">LinkedIn</a></li>
<li><a href="/cv.pdf">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
</body>

</html>
